.card-list {
  display: flex;
  padding: 3rem;

  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: rgb(29, 23, 23);
  box-shadow: -1rem 0 3rem black;

  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

/* Get all si*/
.card:hover ~ .card {
  transform: translateX(100px);
}

.card:not(:first-child) {
  margin-left: -100px;
}

.card-author {
  position: relative;
  display: grid;

  grid-template-columns: 75px 1fr;
  align-items: center;
  margin-top: auto;
}

.author-avatar img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: grayscale(100%);
  overflow: hidden;
  margin: 16px 7px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: aliceblue;
  stroke-width: 8;
  stroke-linecap: round;
}

.author-name {
  color: white;
}

.author-name a {
  color: white;
  text-decoration: none;
}

.author-name a:hover {
  color: red;
  text-decoration: none;
}

.author-name-prefix {
  color: grey;
  font-weight: 900;
}

.card-header p {
  margin: 0;
  color: #767686;
}

.card-header h2 {
  margin: 0;
  background: linear-gradient(90deg, orange, red);
  text-shadow: none;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  margin-top: 5px;
}

.tags a {
  color: red;
  text-decoration: none;
  box-shadow: inset 1px 1px;
  padding: 5px;
}

.tags a:not(:first-child) {
  margin-left: 1rem;
}

.tags a:hover {
  box-shadow: 1px 1px;
}
